{% extends 'base.html.twig' %}

{% block title %}Nouveau Type de Produits{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création nouveau Type de Produits</h1>
    </div>
    <hr>

    <br /><br />

    {{ include('type_produits/_form.html.twig') }}
    <br>
    <a href="{{ path('type_produits_index') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
