{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création Produit</h1>
    </div>
    <hr>

    <br /><br />

    {{ include('produits/_form.html.twig') }}
    <br>
    <a href="{{ path('produits_index') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
