<form method="post" action="{{ path('username_delete', {'id': username.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet login?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ username.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
