<form method="post" action="{{ path('access_delete', {'id': access.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce donnée?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ access.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
