{% extends 'base.html.twig' %}

{% block title %}Nouvelle Autorisations{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création Autorisation</h1>
    </div>
    <hr>

    <br /><br />

    {{ include('autorisations/_form.html.twig') }}
    <br>
    <a href="{{ path('autorisations_index') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
