{% extends 'base.html.twig' %}

{% block title %}Nouveau Stock{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création nouveau Stocks</h1>
    </div>
    <hr>

    <br /><br />

    {{ include('stocks/_form.html.twig') }}
    <br>
    <a href="{{ path('stocks_index') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
