{% extends 'base.html.twig' %}

{% block title %}Modification Stocks{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Stocks</h1>
    </div>
    <hr>

    {{ include('stocks/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    {# <a href="{{ path('revalider', {'id': stock.referencePanier}) }}" class="btn btn-primary">Terminer</a>
    {# <br><br>
    {{ include('stocks/_delete_form.html.twig') }} #}
<div>
{% endblock %}
